interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/integrations
    response:
      body:
        {
          string:
            '[{"id":104583,"shop_name":"OdooShop","shop_url":"https://sendcloud.onestein.eu","system":"odoo","failing_since":null,"last_fetch":null,"last_updated_at":"2022-03-03T17:22:47.137622+01:00","service_point_enabled":true,"service_point_carriers":["postnl"],"webhook_active":true,"webhook_url":"https://sendcloud.onestein.eu/shop/sendcloud_integration_webhook/Test/1"},{"id":166686,"shop_name":"Uploaded
            data","shop_url":"","system":"csv","failing_since":null,"last_fetch":null,"last_updated_at":"2021-05-27T14:44:29.602592+02:00","service_point_enabled":false,"service_point_carriers":[],"webhook_active":false,"webhook_url":""},{"id":175729,"shop_name":"Stas_bij_Onestein","shop_url":"","system":"api","failing_since":null,"last_fetch":null,"last_updated_at":"2021-07-22T17:45:58.[...]
