odoo-addon-base_exception @ git+https://github.com/OCA/server-tools@refs/pull/2809/head#subdirectory=base_exception
odoo-addon-sale_exception @ git+https://github.com/OCA/sale-workflow@refs/pull/2860/head#subdirectory=sale_exception
