.website_sale_infinite_scroll-spinner {
    text-align: center;
    margin: 0 auto;
    display: block;
    background: url(/infinite_scroll_preloader) center top no-repeat;
    padding-top: 115px;
    margin-top: 30px;
}

#scrollUp {
    color: rgba(0, 0, 0, 0.7) !important;
    mix-blend-mode: unset !important;
}

.website_sale_infinite_scroll_custom {
    > form {
        height: 100%;
        height: -moz-available; /* WebKit-based browsers will ignore this. */
        height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
        height: fill-available;
    }
}

/* Safari only */

@media not all and (min-resolution: 0.001dpcm) {
    /* Styles only for Safari 6 and earlier versions */
    .only-safari {
        padding-bottom: 0.75rem !important;
    }
}

/* Styles only for Safari 7 and later */
_::-webkit-full-page-media,
_:future,
:root .only-safari {
    padding-bottom: 0.75rem !important;
}

@media not all and (min-resolution: 0.001dpcm) and (-webkit-min-device-pixel-ratio: 0) and (min-color-index: 0) {
    .only-safari {
        padding-bottom: 0.75rem !important;
    }
}

#html {
    scroll-behavior: smooth;
}

.btn-back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 3rem;
    right: 5rem;
    background-color: #ddd;
    color: #4c5f9b;
    border: 1px solid #f4f5f7;
    border-radius: 0.75rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.btn-back-to-top:hover {
    color: #133a39;
    text-decoration: none;
}
