#wsale_products_attributes_filters_applied {
    margin-bottom: 0.5rem;

    .applied-attributes {
        .badge {
            label {
                margin-left: 0.5em;
                margin-bottom: 0;
                cursor: pointer;
            }
        }
    }
}
