ul.collapsible_filters li {
    width: 100%;

    a {
        display: inline-block;
        width: 80%;
        padding-left: 3px;
    }

    strong.o_filter_name {
        cursor: pointer;
    }
}

.color-span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
