/*! Copyright 2016 Jairo Llopis <jairo.llopis@tecnativa.com>
    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl).

.o_website_sale_custom_info_search
    .o_custom_info_property
        .o_custom_info_value
            padding:
                // Like Odoo's attribute filter
                left: 20px

#custom_info_advanced
    text-align: left
    text-align: start
