.oe_product_cart {
    .o_wsale_product_btn {
        input {
            transform: scale(0);
            transition: transform ease 200ms 0s;
        }
    }

    &:hover {
        input {
            transform: scale(1);
        }
    }

    @include media-breakpoint-down(sm) {
        input {
            transform: scale(1) !important;
        }
    }
}
